@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
    min-height: 100vh;
    padding: 4rem 0;
    padding-bottom: 0;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    background-image: radial-gradient(circle 610px at 5.2% 51.6%,
            rgba(5, 8, 114, 1) 0%,
            rgba(7, 3, 53, 1) 97.5%);
    color: white;
}
